
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="text-center">
    <h1 class="display-4">Jakie ubrania wziąć</h1>
    <p>Learn about</p>
</div>