@{
    ViewData["Title"] = "Check Weather";
}

<div class="text-center">
    <<h1>Sprawdź pogodę</h1>

    <form asp-action="ShowWeather" method="post">
        <label for="city">Wpisz miasto:</label>
        <input type="text" id="city" name="city" required>
        <button type="submit">Pokaż pogodę</button>
    </form>

    <div id="weatherDetails"></div>
</div>